.card-list{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    position: absolute;
    right: 0;
    justify-content: left;
}

.panel-button button, .panel-button input{
    background: #171A21;
    margin: 5px;
    color: #7A93AC;
    padding: 5px;
    border-radius: 5px;
}

.panel-button input{
    color: #7A93AC;
}

.panel-button input::placeholder {
    color: white;
}

.panel-button input[type='text']{
    outline: #171A21;
    background: white;
    color: #171A21;
}